.nav-item {
  font-family: var(--font-t);
  font-size: 1.5rem;
  letter-spacing: 0.1rem;

  /* filter: drop-shadow(4px 4px 0.5px var(--background)); */

  &:hover {
    text-decoration: 0.25rem underline;
    text-underline-offset: 0.75rem;
  }
}

.active {
  color: midnightblue;
  transform: translateY(-10%) scale(1.4);
  &:hover {
    text-underline-offset: 0.5rem;
  }
}
