@import "tailwindcss";

:root {
  --txt: #f9f9fb;
  --background: #090a15;
  --primary: #4465cf;
  --secondary: #d4bdff;
  --accent: #7a33ff;
}

@theme inline {
  --color-bg: var(--background);
  --color-pri: var(--primary);
  --color-sec: var(--secondary);
  --color-acc: var(--accent);
  --color-txt: var(--txt);
  --font-t: var(--font-t);
  --font-b: var(--font-b);
}

@media (prefers-color-scheme: light) {
  :root {
    --txt: #040406;
    --background: #eaebf6;
    --primary: #3050bb;
    --secondary: #170042;
    --accent: #4700cc;
  }
}
